* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui;
  line-height: 1.5;
}

body {
  max-width: 35rem;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: rgb(229, 255, 204);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: .75rem;
  color: rgb(0,0,139);
}

h2 {
  font-size: 1rem;
  margin: 0;
  margin-top: .75rem;
  color: rgb(0,0,139);
}

h3 {
  font-size: 2rem;
  margin: 0;
  margin-top: .75rem;
  color: rgb(0,0,139);
}

input {
  width: 100%;
  font-size: 1rem;
  margin: .75rem 0;
  padding: .75rem;
}