h1 {
  font-family: Arial; 
  font-size: 10px;
}

h1 {
  font-family: Arial; 
  font-size: 10px;
}

button {
  font: Arial;
  font-size: 20px; 
  background-color: yellow;
 
}

body {
  background-color: #A52A2A; 
}

