* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui;
  line-height: 1.5;
}

body {
  max-width: 35rem;
  margin: 0 auto;
  padding: 1.5rem;
}

h1 {
  font-family:arial;
  font-size: 1.3rem;
  margin-bottom: .75rem;
}

h2 {
  font-size: 1rem;
  margin: 0;
  margin-top: .75rem;
}

input {
  width: 100%;
  font-size: 1rem;
  margin: .75rem 0;
  padding: .75rem;
}


table {
  border-collapse: separate;
  border-spacing: 0.2em;
  font-family: arial;
}
  
th,td {
  padding: 0.2em 0.5em;
  border-radius: 0.1em;  
}  

thead th {
  background-color: #ffebe6;
  color: #c32e04;
}

td {
  font-style:italic;
  text-align: right;
  box-shadow: inset 1px 3px 5px -3px rgba(0,0,0,0.5);
}   

td:empty{
  box-shadow: none;
}